body{
    background-color: rgb(144, 182, 55);
    
}
ul{
    background-color: antiquewhite;
    margin: 40px;
    padding:20px;
  
    
}
.devoredit{
    float: left;
    margin:auto;
    width: 40%;
}
.form-input{
    float: left;
    margin:auto;
    width: 60%;
}
h3{
    text-align: center;
}
.create-form{
    padding: 30px;
    margin:auto;
    clear: both;
    width:45%;
    
    overflow: hidden;
}
.container{
    margin:auto;
    width:50%;
}
#burgerinput{
    padding: 10px;
    width:300px;
    
   
}
.submitbutton{
    width:10%;
    margin:auto;
    /* margin:20px; */
    
    
    
}
.submit{
    background-color: rgb(56, 129, 212);
}